<html>
<head>
<style>
.note_wrapper {
   width: 70%;
   margin: 60px auto 0;
   background: #fafafa;
/*   border-radius: 8px 0px 0px 8px;
   -moz-border-radius: 8px 0px 0px 8px;
   -webkit-border-radius: 8px 0px 0px 8px;*/
   border-radius 8px;
   box-shadow: 0 5px 8px 0 rgba(0,0,0,.4);
   margin: 18% 10%;
   width: 100%;

}

table {
  table-layout: fixed;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
 border-collapse: collapse;
}
table caption {
  text-align: left;
  font-size: 1.5em;
  padding: 0.35em;
}
table tr {
border-bottom: 1px solid black;
  height: 2.85em;
}
table tr:last-child {
border-bottom: 0px solid black;
}

table td, table th {
  text-align: center;
  background: #FAFAFA;
}
table th {
  font-weight: 400;
}

</style>
<% current_user = User.find(session[:current_user])
note_content = Note.where(:user_id => current_user.id) rescue nil

class_users = User.all.where(:class_id => User.find(session[:current_user]).class_id).where(:user_type_id => 3)
 #find_all_by_class_id_and_user_type_id(User.find(session[:current_user]).class_id, 3)
%>
</head>

<body>
<div class="button-back button-back-notes" style="display: none;"><img src="/images/main/back-button.png"></div>
<div class="note_wrapper">
<% if note_content.blank? && current_user.user_type_id == 3 %>
  <div class="application_settings application_settings_notes">
	  <div class="button-edit-application" style="display: block;"><img src="/images/main/edit-button.png"></div>
		<div class="button-save-application" style="display: none;"><img src="/images/main/save-button.png"></div>
		<input type="hidden" name="edit_active" id="edit_active" value="false">
  </div>
  <table class="note_table">
    <caption></caption>
    <tr>
      <th>Fächer</th>
      <th> </th>
      <th> </th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
    <tr>
      <th>8:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>9:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>10:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>11:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>12:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>13:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>14:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>15:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>16:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>17:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
  </table>
<% elsif !note_content.blank? && current_user.user_type_id == 3 %>
  <table class="note_table">
      <%= note_content.note_content_student %>
  </table>
<% elsif current_user.user_type_id != 3 %>
  <div class="choosed_student" style="display: none;">
  </div>
  <div class="choose_student">
    <table class="note_table note_table_teacher" style="text-align: left;">
      <caption></caption>
      <tr>
        <th>Schüler</th>
      </tr>
      <% class_users.each do |value| %>
      <tr style=" cursor: pointer;">
        <td id="<%= value.id %>"><%= value.email %></td>
      </tr>
      <% end %>
    </table>
<% end %>
  </div>
</div>
<script>
     $(document).on( 'click', '.button-edit-application', function(e) {
      e.preventDefault();
       $('.application_settings_notes').find($('.button-edit-application')).hide();
       $('.application_settings_notes').find($('.button-save-application')).show();
        $('.note_table').find('td').each(function() {
		      $(this).prop('contenteditable', true );
        });
  });

     $(document).on( 'click', '.button-save-application', function(e) {
     e.preventDefault();
       $('.application_settings_notes').find($('.button-save-application')).hide();
       $('.application_settings_notes').find($('.button-edit-application')).show();
      $('.note_table').find('td').each(function() {
		    $(this).prop('contenteditable', false );
      });

     var content = $('.timetable_table').html();
     var user_id = <%= session[:current_user].to_s %>;
     $.ajax({
       url:'/timetable/update_partial',
       data:{ content: content, user_id: user_id},
       type:"POST",
       success:function(data){
       }, error: function(XMLHttpRequest, textStatus, errorThrown) {
         alert("Status: " + textStatus); alert("Error: " + errorThrown);
       }
     });
   });


  $(document).ready(function(event) {

   var user_id = <%= User.find(session[:current_user]).user_type_id %>;
    if (user_id != 3){

/* APPLICATION SETTINGS*/
  $('.note_table_teacher').on("click", "td", function(e) {
    var used_student = $(this).attr("id");

         $.ajax({
       url:'/note/show_teacher_notes',
       data:{ student_id: used_student, user_id: user_id},
       type:"POST",
       success:function(data){
          $('.button-back-notes').css("display", "block");
          $('.choosed_student').show();
          $('.choose_student').hide();
          $('.choosed_student').append(data);
       }, error: function(XMLHttpRequest, textStatus, errorThrown) {
         alert("Status: " + textStatus); alert("Error: " + errorThrown);
       }
     });
  });

  $('.button-back-notes').on("click", function(e) {
    $('.application_settings_notes').css("display", "none");
    $('.button-back-notes').css("display", "none");
    $('.choosed_student').empty();
    $('.choose_student').show();
  });

  }
});

</script>
</body>
</html>
