<%= form_with(model: timetable, local: true) do |form| %>
  <% if timetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timetable.errors.count, "error") %> prohibited this timetable from being saved:</h2>

      <ul>
      <% timetable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :class_id %>
    <%= form.number_field :class_id %>
  </div>

  <div class="field">
    <%= form.label :timetable_content %>
    <%= form.text_field :timetable_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
